
/mini-app-core/target
/mini-app-example/frontend/generated
/mini-app-example/src/main/dev-bundle/webapp/VAADIN/build
/mini-app-example/target
/toast-ui-grid/target
/.idea
/mini-app-example/node_modules
/mini-app-example/frontend/.vite
