.timeline .vis-item {
    z-index: 2;
}

.timeline .vis-item.vis-selected {
    z-index: 3;
}

.timeline .vis-timeline {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-center {
	overflow-y: visible;
    overflow-x: clip;
}

.timeline .vis-item .vis-onUpdateTime-tooltip{
	width: auto;
}

.timeline {
    //display: none;
}

.vis-label {
	min-width: 100px;
}
.vis-label.vis-group-level-0.coach-owned {
	background: gray;
}

.vis-label.vis-group-level-0.coach-hired {
	background: lightgray;
}